body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	color: #2C2C2C;
	margin: 0;
}

/* ----- HEADER ----- */
#header {
	background-color: #03B0F0;
	width: 100%;
	height: 190px;
	margin: 0 auto;
}

#title {
	background: url(header.png);
	height: 190px;
	width: 996px;
	margin: 0 auto;
	font-size: 21pt;
	font-weight: bold;
	color: #FFFFFF;
}

/* ----- NAVIGATION ----- */
#navigation {
	width: 996px;
	height: 40px;
	margin: 0 auto;
}

/* ----- CONTENT ----- */
#content {
	width: 996px;
	margin: 0 auto;
	min-height: 500px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 500px; /* for IE5.x and IE6 */
}

#suggesticator {
	background-color: #CCEFFC;
	border-radius: 4px 4px 4px 4px;
	height: 100%;
	margin-bottom: 19px;
	margin-top: 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}

#currency {
	float: right;
}

/* ----- TABLE ----- */
#tableWrapper {
	border: 1px solid #CCEFFC;
	border-radius: 4px 4px 4px 4px;
	padding: 20px;
}

#tableWrapper table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 30px;
	width: 100%;
}

#tableWrapper table th {
	background-color: #CCEFFC;
	border-top: 1px solid #A3E0F9;
	color: #444444;
	font-weight: bold;
}

#tableWrapper table tr.even td {
	background-color: #FFFFFF;
}

#tableWrapper table tr.odd td {
	background-color: #F0FAFE;
	border-bottom: 1px solid #E0F5FD;
	border-top: 1px solid #E0F5FD;
}

#ratesList table.ratesTable tr.even td {
	background-color: #F0FAFE;
	border-bottom: 1px solid #E0F5FD;
	border-top: 1px solid #E0F5FD;
	padding-left: 10px;
}

/* ----- FOOTER ----- */
#footer {
	margin: 0 auto;
	position: relative;
	background-color: #00AFF0;
	clear: both;
	display: block;
	height: 47px;
}

#footer span.footerHeading {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: normal;
	line-height: 47px;
	margin-left: 10px;
	width: 250px;
}